<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MySuite">
    <test name="MyTest">
        <groups>
            <run>
                <include name="negative" />
            </run>
        </groups>
        <classes>
            <class name="testScripts.User_Create"/>
        </classes>
    </test>
</suite>
